html {
  font-family: Verdana;
}

body {
  background-color: black;
  text-align: center;
}

h1 {
  font-weight: normal;
  font-size: 50px;
}

h1, h2 {
  color: white;
}

h2 {
  font-weight: 300;
  font-size: 42px;
}

p {
  font-color: gray;
  font-size: 21px;
}

a {
  font-color: aquamarine;
  font-size: 16px;
  text-decoration: underline;
}

.align-right {
  text-align: right;
}
